@model List<ItemInRoomViewModel>
@{
    ViewData["Title"] = "Все предметы";
}

<h1>Всё имущество предприятия</h1>

<a asp-action="AddDisplacement" asp-controller="Displacement" class="btn btn-outline-success">Добавить поступление</a>
 <a asp-action="DeleteItemsDisplacement" asp-controller="Displacement" class="btn btn-outline-danger">Добавить списание</a>

<table class="table">
    <tr><th>Наименование предмета</th><th>Инвентарный номер</th><th>Описание</th><th>Состояние предмета</th><th>Находится в</th><th>В личном пользовании</th><th></th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.InventoryNumber</td>
            <td>@item.Description</td>
            <td>@item.Status</td>
            <td>@item.RoomName</td>
            <td>@item.Username</td>
            <td>@if(item.Status != "Списан"){<a asp-action="MoveItemsDisplacement" asp-controller="Displacement" asp-route-itemId="@item.Id" class="btn btn-outline-warning">Переместить предмет</a>}</td>
        </tr>
    }
</table>

